# faiss conda install, torch conda install
# conda install pytorch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2 pytorch-cuda=11.8 -c pytorch -c nvidia
# conda install -c conda-forge faiss-gpu
# conda install cuda-nvcc=11.8 -c nvidia
transformers
scikit-learn
datasets
rouge_score
evaluate
nltk
protobuf
accelerate
vllm
# need torch first
# traker[fast]
alpaca-eval